# Ignore system files
.DS_Store
Thumbs.db
desktop.ini

# Ignore MATLAB autosave and backup files
*.asv
*.m~
*.mat

# Ignore build and temporary data
results/
data/
resources/
scripts/temporary_code.m

# Ignore project-specific temporary files
*.prj

